{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": false,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_src/blocks/pll-language-visibility/editor.js",
          "/_src/blocks/pll-language-switcher/script.js",
          "/_src/blocks/pll-language-switcher/editor.js",
          "/_src/blocks/html-sitemap/editor.js",
          "/_src/blocks/html-sitemap/style.css",
          "/_src/blocks/pll-menu-by-language/editor.js"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/dev.entumas.com/wp/wp-content/plugins/",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/register.php",
          "mtimeMs": 1778404409725.3596,
          "date": "2026-05-10T09:13:33.936Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/i18n/block-json-strings.php",
          "mtimeMs": 1778408187698.442,
          "date": "2026-05-10T10:16:28.254Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/editor.js",
          "mtimeMs": 1778494667750.917,
          "date": "2026-05-11T10:17:48.310Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/editor.css",
          "mtimeMs": 1778494669707.7483,
          "date": "2026-05-11T10:17:50.228Z"
        },
        {
          "file": "_src/blocks/html-sitemap/style.css",
          "mtimeMs": 1776022523301.9792,
          "date": "2026-04-12T19:35:31.064Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/style.css",
          "mtimeMs": 1778494671423.9954,
          "date": "2026-05-11T10:17:51.964Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/editor.js",
          "mtimeMs": 1778494673179.3296,
          "date": "2026-05-11T10:17:53.735Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/editor.css",
          "mtimeMs": 1778494675026.7004,
          "date": "2026-05-11T10:17:55.563Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/script.js",
          "mtimeMs": 1778494676826.751,
          "date": "2026-05-11T10:17:57.380Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/style.css",
          "mtimeMs": 1778494678395.5986,
          "date": "2026-05-11T10:17:58.923Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/editor.js",
          "mtimeMs": 1778494679967.62,
          "date": "2026-05-11T10:18:00.523Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/editor.css",
          "mtimeMs": 1778494681393.4429,
          "date": "2026-05-11T10:18:01.941Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/editor.css",
          "mtimeMs": 1778494684681.308,
          "date": "2026-05-11T10:18:05.256Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/editor.js",
          "mtimeMs": 1778494683177.9546,
          "date": "2026-05-11T10:18:03.741Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/register.php",
          "mtimeMs": 1778404327822.7126,
          "date": "2026-05-10T09:12:09.089Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/register.php",
          "mtimeMs": 1778404300358.7585,
          "date": "2026-05-10T09:11:41.101Z"
        },
        {
          "file": "tms-extensions-polylang/includes/bootstrap.php",
          "mtimeMs": 1778410647820.3777,
          "date": "2026-05-10T10:57:28.320Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/block-icon-file-loader.php",
          "mtimeMs": 1778338187139.1018,
          "date": "2026-05-09T14:49:47.653Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/render.php",
          "mtimeMs": 1778404300338.3726,
          "date": "2026-05-10T09:11:40.867Z"
        },
        {
          "file": "tms-extensions-polylang/includes/components/pll-menu-by-language/get.php",
          "mtimeMs": 1778349926845.833,
          "date": "2026-05-09T18:05:27.379Z"
        },
        {
          "file": "tms-extensions-polylang/includes/components/html-sitemap/get.php",
          "mtimeMs": 1778349921191.8586,
          "date": "2026-05-09T18:05:21.945Z"
        },
        {
          "file": "tms-extensions-polylang/includes/components/pll-language-visibility/get.php",
          "mtimeMs": 1778349921413.1057,
          "date": "2026-05-09T18:05:22.191Z"
        },
        {
          "file": "tms-extensions-polylang/includes/components/pll-language-switcher/get.php",
          "mtimeMs": 1778349921745.1753,
          "date": "2026-05-09T18:05:22.438Z"
        },
        {
          "file": "tms-extensions-polylang/includes/components/pll-language-switcher/helpers.php",
          "mtimeMs": 1778349922607.7688,
          "date": "2026-05-09T18:05:23.177Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/render.php",
          "mtimeMs": 1778404355376.704,
          "date": "2026-05-10T09:12:36.187Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/get.php",
          "mtimeMs": 1778406633224.2295,
          "date": "2026-05-10T09:50:34.040Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/helpers.php",
          "mtimeMs": 1778350600011.569,
          "date": "2026-05-09T18:16:40.577Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/dropdown-wrapper-split.php",
          "mtimeMs": 1778350600333.4668,
          "date": "2026-05-09T18:16:40.890Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/helpers/get.php",
          "mtimeMs": 1778404327773.658,
          "date": "2026-05-10T09:12:08.360Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/get.php",
          "mtimeMs": 1778404409699.3474,
          "date": "2026-05-10T09:13:30.531Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/helpers.php",
          "mtimeMs": 1778351610545.6885,
          "date": "2026-05-09T18:33:31.106Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/render.php",
          "mtimeMs": 1778404409762.6587,
          "date": "2026-05-10T09:13:34.178Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/block-editor.php",
          "mtimeMs": 1778404409761.657,
          "date": "2026-05-10T09:13:34.438Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/normalize.php",
          "mtimeMs": 1778404409762.6587,
          "date": "2026-05-10T09:13:34.955Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/pages.php",
          "mtimeMs": 1778404409768.8652,
          "date": "2026-05-10T09:13:35.222Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/posts.php",
          "mtimeMs": 1778404409797.713,
          "date": "2026-05-10T09:13:35.996Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/terms.php",
          "mtimeMs": 1778404409762.6587,
          "date": "2026-05-10T09:13:34.700Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/polylang.php",
          "mtimeMs": 1778406671590.676,
          "date": "2026-05-10T09:51:12.145Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/render-markup.php",
          "mtimeMs": 1778404409797.713,
          "date": "2026-05-10T09:13:36.375Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/html-sitemap/helpers/taxonomy.php",
          "mtimeMs": 1778404409797.713,
          "date": "2026-05-10T09:13:35.737Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/render-markup.php",
          "mtimeMs": 1778404355465.6914,
          "date": "2026-05-10T09:12:36.945Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/kses.php",
          "mtimeMs": 1778404355465.6914,
          "date": "2026-05-10T09:12:37.969Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/render.php",
          "mtimeMs": 1778404327774.6653,
          "date": "2026-05-10T09:12:08.597Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-visibility/helpers/kses.php",
          "mtimeMs": 1778404327822.7126,
          "date": "2026-05-10T09:12:08.854Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language-slot/index.php",
          "mtimeMs": 1778403460861.8093,
          "date": "2026-05-10T08:57:41.713Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/helpers/get.php",
          "mtimeMs": 1778404300355.1934,
          "date": "2026-05-10T09:11:41.353Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/helpers/index.php",
          "mtimeMs": 1778403622274.4006,
          "date": "2026-05-10T09:00:22.842Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/register.php",
          "mtimeMs": 1778404355379.2048,
          "date": "2026-05-10T09:12:36.423Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/dropdown-wrapper.php",
          "mtimeMs": 1778404355382.5398,
          "date": "2026-05-10T09:12:36.691Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/block-editor-styles.php",
          "mtimeMs": 1778404355465.6914,
          "date": "2026-05-10T09:12:37.204Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/pll-languages.php",
          "mtimeMs": 1778408046856.3672,
          "date": "2026-05-10T10:14:07.427Z"
        },
        {
          "file": "tms-extensions-polylang/includes/blocks/pll-language-switcher/helpers/flags.php",
          "mtimeMs": 1778404355464.6926,
          "date": "2026-05-10T09:12:37.720Z"
        },
        {
          "file": "tms-extensions-polylang/languages/index.php",
          "mtimeMs": 1778408084621.0725,
          "date": "2026-05-10T10:14:45.156Z"
        },
        {
          "file": "tms-extensions-polylang/includes/admin/plugin-list.php",
          "mtimeMs": 1778410844565.117,
          "date": "2026-05-10T11:00:45.095Z"
        },
        {
          "file": "tms-extensions-polylang/assets/css/editor.css",
          "mtimeMs": 1778494693506.4111,
          "date": "2026-05-11T10:18:14.029Z"
        },
        {
          "file": "tms-extensions-polylang/includes/admin-enqueue.php",
          "mtimeMs": 1778414495441.566,
          "date": "2026-05-10T12:01:35.946Z"
        },
        {
          "file": "tms-extensions-polylang/tms-extensions-polylang.php",
          "mtimeMs": 1778492493720.157,
          "date": "2026-05-11T09:41:34.218Z"
        },
        {
          "file": "tms-extensions-polylang/includes/utilities.php",
          "mtimeMs": 1778414206115.8596,
          "date": "2026-05-10T11:56:46.626Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1778494048069.2554,
          "date": "2026-05-11T10:07:28.557Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_src/blocks/html-sitemap/editor.js",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/html-sitemap/editor.js",
          "tasks": {
            "bundle-js": {
              "enable": true,
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "_src/blocks/html-sitemap/editor.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/html-sitemap/editor.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/blocks/html-sitemap/style.css",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/html-sitemap/style.css"
        }
      },
      {
        "file": "_src/blocks/html-sitemap/style.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/html-sitemap/style.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-switcher/editor.js",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-switcher/editor.js",
          "tasks": {
            "bundle-js": {
              "enable": true,
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-switcher/editor.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-switcher/editor.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-switcher/script.js",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-switcher/script.js",
          "tasks": {
            "bundle-js": {
              "enable": true,
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-switcher/style.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-switcher/style.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-visibility/editor.js",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-visibility/editor.js",
          "tasks": {
            "bundle-js": {
              "enable": true,
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-language-visibility/editor.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-language-visibility/editor.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-menu-by-language/editor.js",
        "config": {
          "autoCompile": true,
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/editor.js",
          "tasks": {
            "bundle-js": {
              "enable": true,
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "_src/blocks/pll-menu-by-language/editor.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/includes/blocks/pll-menu-by-language/editor.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "_src/scss/editor.scss",
        "config": {
          "customOutput": "tms-extensions-polylang/assets/css/editor.css",
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      }
    ]
  }
}
