// --------------------------------------------------
//	HTML sitemap: Editor.css
// --------------------------------------------------


// Init ========================================

@import "../../scss/tools/functions";
@import "../../scss/settings/colors";
@import "../../scss/tools/mixins";


// Editor ========================================

@import "../../scss/editor/canvas.scss";
@import "../../scss/editor/panel.scss";


// Canvas ========================================

.tepll-html-sitemap {


	// Default ========================================

	&.is-default-mode {
		@include canvas-component;


		.components-placeholder__label {
			@include canvas-component-title;
		}
	}


	// Preview ========================================

	&.is-preview-mode {
		@import "../../scss/blocks/html-sitemap.scss";


		.tepll-html-sitemap-root {
			margin: 0;
			padding: 0;
			list-style-position: inside;
		}


		.wp-block-tepll-html-sitemap {
			@include double-wrapper-reset;
		}


		a {
			@include no-click;
		}
	}
}