// --------------------------------------------------
//	Settings: Colors
// --------------------------------------------------


$color--black		: #1e1e1e;
$color--white		: #ffffff;
$color--border		: #00000022;
$color--success		: #00a32a;
$color--success-bg	: #edfaef;
$color--error		: #d63638;
$color--error-bg	: #fcf0f1;
$color--warning		: #dba617;
$color--warning-bg	: #fcf9e8;