// --------------------------------------------------
//	Pll lang visibility: Editor.css
// --------------------------------------------------


// Init ========================================


// Init ========================================

@import "../../scss/tools/functions";
@import "../../scss/settings/colors";
@import "../../scss/tools/mixins";


// Editor ========================================

@import "../../scss/editor/canvas.scss";
@import "../../scss/editor/panel.scss";


// Canvas ========================================

.tepll-pll-language-visibility {
	@include canvas-component;

	&.is-show {
		border-color: tms-color-var('success');
	}

	&.is-hide {
		border-color: tms-color-var('error');
	}


	// Placeholder ========================================

	&-placeholder {
		@include canvas-component-title;
		font-size: 15px;
		text-transform: uppercase;
	}


	// Appender ========================================

	.components-button.block-editor-button-block-appender {
		padding: 0;
		width: 24px;
		height: 24px;
		color: tms-color-var('white');
		background-color: tms-color-var('black');
	}

	&.is-empty .block-list-appender {
		bottom: -2px;
	}
}